/**
 * Default application CSS theme.
 *
 * Please put here only colors and background images.
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/background
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/color
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
 *
 * @see https://google.github.io/styleguide/htmlcssguide.html
 * @see https://github.com/google/closure-stylesheets
 * @see https://en.wikipedia.org/wiki/Web_colors
 */

 body,
 aside a {
  background-color: White;
  color: Black;
}

header,
footer {
  background-color: DimGray;
  color: White;
}

header path {
  fill: Gray;
}

header polygon {
  fill: MidnightBlue;
}

#main > aside {
  background-color: Gainsboro;
}

.box,
aside a {
  border: solid 1px Gainsboro;
}

.box a {
  color: RoyalBlue;
}
