/**
 * Default application CSS theme.
 *
 * Please put here only colors and background images.
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/background
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/color
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/opacity
 *
 * @see https://google.github.io/styleguide/htmlcssguide.html
 * @see https://github.com/google/closure-stylesheets
 * @see https://en.wikipedia.org/wiki/Web_colors
 */

 body,
 aside a {
  background-color: White;
  color: Black;
}

header,
footer {
  background-color: DimGray;
  color: White;
}

header {
  background: url(../logo.svg) no-repeat 1em center/4.5em,
              url(https://images.unsplash.com/photo-1463130456064-77fda7f96d6b) center/cover;
  color: DimGray;
}

#main > aside {
  background-color: Gainsboro;
}

.box,
aside a {
  border: solid 1px Gainsboro;
}
